## POLSCI 3 

## Hypothesis Testing Homework

In this homework we will review different methods of testing hypotheses. These methods depend on the kinds of data we are working with: categorical or numeric. To start, let's consider when we have just categorical variables.

## $\chi^2$ Statistic

<!-- BEGIN QUESTION -->

### Question 1a:
Before we begin, let's review: what is the purpose of calculating the $\chi^2$ statistic?

<!--
BEGIN QUESTION
name: q1a
manual: true
points: 1
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->



### Question 1b:

In this example, we're going to use the relationship between union membership and 2016 presidential vote choice. Below, we have the results of a poll of voters who were asked about their preferred candidate and whether they were a union member. 

**Note:** Make sure to run the cell below to generate the table.

In [1]:
respond_table <- as.table(cbind(c(1068, 1019),c (218, 157)))
dimnames(respond_table) <- list(candidate = c("Clinton","Trump"),
                                membership = c("Not_Union","Union")
                                )
respond_table

         membership
candidate Not_Union Union
  Clinton      1068   218
  Trump        1019   157

<!-- BEGIN QUESTION -->

What are your initial impressions of how the data are distributed?

<!--
BEGIN QUESTION
name: q1b
manual: true
points: 1
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->

### Question 1c:
Now let's try using the <code> chisq.test </code> function we learned in the lecture notebook. Recall the first step when using this function is creating a contingency table. Remember, you need to fill in the "..." in the command below with the name of the table you are analyzing. 

<!--
BEGIN QUESTION
name: q1c
manual: false
points: 3
-->

In [2]:
## YOUR ANSWER HERE
q1c.answer <- chisq.test(respond_table, correct=FALSE)
q1c.answer

	Pearson's Chi-squared test

data:  respond_table
X-squared = 6.1707, df = 1, p-value = 0.01299

In [4]:
. = ottr::check("tests/q1c.R")

All tests passed!

<!-- BEGIN QUESTION -->

### Question 1d:
What do these results tell you about the relationship between union membership and US presidential vote preference in 2016?

<!--
BEGIN QUESTION
name: q1d
manual: true
points: 2
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->



## Difference of Means - Question 2
Are democracies richer than autocracies? This can be tested with a difference in means test. To test this we will use the happiness_polity data that we introduced in the previous module. First let's read in the data and examine the code book:

In [5]:
happiness_data <- read.csv('happiness_polity_2018.csv')
head(happiness_data)

  countryname polity2 polity2_cat gdpcapita gdpcapita_cat happiness
1 Afghanistan -1      anocracies   2190.751 low-income    2.694
2 Albania      9      democracies 13602.374 middle-income 5.004
3 Algeria      2      anocracies  11475.844 middle-income 5.043
4 Argentina    9      democracies 22742.701 middle-income 5.793
5 Armenia      7      democracies 12720.883 middle-income 5.062
6 Australia   10      democracies 49563.000 rich          7.177
  happiness_cat    life_expectancy life_expectancy_cat
1 least happy      52.6            shortest lives
2 middle happiness 68.7            middle
3 middle happiness 65.9            middle
4 middle happiness 68.8            middle
5 middle happiness 66.9            middle
6 most happy       73.6            longest lives

This dataset contains data from countries around the world in terms of factors such as happiness levels, 
political categories, and demographic information. Here's a codebook:

<code>polity2</code>: The "Polity Score" of the country, which measures its political system on a 21-pont scale 
ranging from -10 (hereditary monarchy) to +10 (consolidated democracy).

<code>polity2_cat</code>: The political category the country is identified within. "autocracies" are on one end of 
the spectrum, "anocracies" are in the middle (semi-democracies), and "democracies" are at the top of the spectrum.

<code>gdpcapita</code>: GDP per Capita (economic output per person)

<code>gdpcapita_cat</code>: GDP/income category that the country falls into (based on GDP per capita)

<code>happiness</code>: The country's happiness index, measured through surveys that require participants to rank 
their level of happiness based on an assortment of quality-of-life factors

<code>happiness_cat</code>: Happiness category that the country falls into (based on happpiness indicator)

<code>life_expectancy</code>: Average life expectancy in years

<code>life_expectancy_cat</code>: Life Expectancy category that the country falls into

Next we need to create two subsets of the data, one for democracies and one for autocracies:

In [6]:
autocracies<-subset(happiness_data,polity2_cat=="autocracies")
democracies<-subset(happiness_data,polity2_cat=="democracies")
head(autocracies)
head(democracies)

   countryname polity2 polity2_cat gdpcapita gdpcapita_cat happiness
8  Azerbaijan  -7      autocracies 14214.250 middle-income 5.168
9  Bangladesh  -6      autocracies  4442.623 low-income    4.499
10 Belarus     -7      autocracies 18882.668 middle-income 5.234
24 China       -7      autocracies 15244.895 middle-income 5.131
61 Kazakhstan  -6      autocracies 25539.965 middle-income 6.008
65 Laos        -7      autocracies  7593.140 middle-income 4.859
   happiness_cat    life_expectancy life_expectancy_cat
8  middle happiness 65.5            middle
9  least happy      64.3            middle
10 middle happiness 66.1            middle
24 middle happiness 69.3            longest lives
61 middle happiness 64.6            middle
65 middle happiness 58.7            shortest lives

   countryname polity2 polity2_cat gdpcapita gdpcapita_cat happiness
2  Albania      9      democracies 13602.37  middle-income 5.004
4  Argentina    9      democracies 22742.70  middle-income 5.793
5  Armenia      7      democracies 12720.88  middle-income 5.062
6  Australia   10      democracies 49563.00  rich          7.177
7  Austria     10      democracies 55714.77  rich          7.396
11 Belgium      8      democracies 51225.86  rich          6.892
   happiness_cat    life_expectancy life_expectancy_cat
2  middle happiness 68.7            middle
4  middle happiness 68.8            middle
5  middle happiness 66.9            middle
6  most happy       73.6            longest lives
7  most happy       73.0            longest lives
11 most happy       72.0            longest lives

### Question 2a:
In the following cell type the code to find the `mean` GDP Per Capita for democracies and autocracies.

<!--
BEGIN QUESTION
name: q2a
manual: false
points: 2
-->

In [8]:
mean(autocracies$gdpcapita)

[1] 19857.53

In [8]:
## YOUR ANSWER HERE
mean.autocracies <- mean(autocracies$gdpcapita)               # Fill in the ... with the appropriate code
mean.democracies <- mean(democracies$gdpcapita)   
q2a.answer <- c(mean.autocracies,mean.democracies)
q2a.answer

[1] 19857.53 26029.71

In [9]:
. = ottr::check("tests/q2a.R")

All tests passed!

### Question 2b:
Now let's assume we are working with random samples, and determine whether there is sufficient evidence of different GDP per capitas in our samples to warrant making any conclusion about the population of autocracies and democracies:

<!--
BEGIN QUESTION
name: q2b
manual: false
points: 2
-->

In [11]:
## YOUR ANSWER HERE
q2b.answer <- t.test(autocracies$gdpcapita,democracies$gdpcapita)            # Fill in the ... with the appropriate code   
q2b.answer

	Welch Two Sample t-test

data:  autocracies$gdpcapita and democracies$gdpcapita
t = -1.0404, df = 15.238, p-value = 0.3144
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -18799.863   6455.517
sample estimates:
mean of x mean of y
 19857.53  26029.71

In [12]:
. = ottr::check("tests/q2b.R")

All tests passed!

<!-- BEGIN QUESTION -->

### Question 2c:
What do you conclude about the population difference in GDP per capita between autocracies and democracies? Can we establish a causal relationship between GDP per capita and regime type?

<!--
BEGIN QUESTION
name: q1d
manual: true
points: 3
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->



## Short Answer - Question 3 
#### True or False, with a one sentence justification for each:

<!-- BEGIN QUESTION -->

**a)** Only a very small (&lt;5) percentage of measurements can be more than 2 standard
deviations from the mean of the normal distribution.

<!--
BEGIN QUESTION
name: q3a
manual: true
points: 2
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**b)** Only a very small (&lt;5) percentage of measurements can be more than 2 standard
deviations from the mean of the any distribution.

<!--
BEGIN QUESTION
name: q3b
manual: true
points: 2
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**c)** If we would reject a null hypothesis at the 5% level, we would also reject it at the 1%
level.

<!--
BEGIN QUESTION
name: q3c
manual: true
points: 2
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**d)** If we would reject a null hypothesis at the 1% level, we would also reject it at the 5%
level.

<!--
BEGIN QUESTION
name: q3d
manual: true
points: 2
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**e)** The p-value, which is the Type I error rate, is chosen by the investigator before a
hypothesis test is conducted.

<!--
BEGIN QUESTION
name: q3e
manual: true
points: 2
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->



The following table is based on a random sample conducted of high school seniors and
their parents by Jennings and Niemi, in which they explore the party identification of
parents and their children.

## Coding Application - Question 4:

In [6]:
#Run this cell to generate the table
respond_table <- as.table(cbind(c(604, 130,63),c(245, 235,180),c(67,76,252)))
dimnames(respond_table) <- list(Parent_Party_ID = c('Democrat', 'Independent', 'Republican'),
                                Child_Party_ID = c('Democrat', 'Independent', 'Republican')
                                )
respond_table

### Question 4a:
Write the number of parents who's party id matches their kids.

<!--
BEGIN QUESTION
name: q4a
manual: false
points: 2
-->

In [34]:
## YOUR ANSWER HERE
sample_size <- sum(respond_table)
democrat_same <- 604
independent_same <- ...
republican_same <- ...
Total <- democrat_same + independent_same + republican_same

In [ ]:
. = ottr::check("tests/q4a.R")

### Question 4b:
What percentage of Democrat parents have Republican children?

<!--
BEGIN QUESTION
name: q4b
manual: false
points: 1
-->

In [37]:
## YOUR ANSWER HERE
dem_parent_rep_child <- .../sum(c(604,245,67))           # Fill in the ... with the appropriate code   
dem_parent_rep_child

In [ ]:
. = ottr::check("tests/q4b.R")

### Question 4c:
Run a $\chi^2$ test to determine if there is there a relationship between parent and child party ID in the population.

<!--
BEGIN QUESTION
name: q4c
manual: false
points: 3
-->

In [40]:
## YOUR ANSWER HERE
q4c.answer <- chisq.test(..., correct=FALSE)
q4c.answer

In [ ]:
. = ottr::check("tests/q4c.R")

<!-- BEGIN QUESTION -->

### Question 4d: 
Is there a relationship between between parent and child party ID in the population?

<!--
BEGIN QUESTION
name: q4d
manual: true
points: 2
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->



<!-- END QUESTION -->



-----
## Submitting Your Notebook

Congratulations! You have now finished your second coding assignment. Well done!

Before you head off to celebrate your work, please remember to save your work and submit it before the deadline!


To do this, click <code>File</code> $\rightarrow$ <code>Download as</code> $\rightarrow$ <code>Notebook(.ipynb)</code>

Submit the .ipynb file you just downloaded <a href="https://www.gradescope.com/courses/582091" target="_blank">on Gradescope here</a>.